/*-------------------------- Custom Properties --------------------------*/
:root {
  --first-color: #ff8811;
  --first-color-alpha: rgba(255, 136, 17, 0.2);
  --white-color: #fff;
  --black-colo: #000;
  --title-color: #333;
  --link-color: #509ee3;
  --text-color: #222;
  --first-font: "EngraversGothic BT", sans-serif;
  --second-font: "Roboto", sans-serif;
  --max-width: 1024px;
  --header-heigth: 4rem;
  --hero-image-main: url("/landing-pages/nova-music/assets/HeroImage-raw.png");
  --attachment-main: fixed;
  --opacity-color-main: rgba(0, 0, 0, 0.65);
}
/*-------------------------- Reset --------------------------*/
html {
  box-sizing: border-box;
  font-family: var(--second-font);
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  color: var(--text-color);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: var(--link-color);
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0.75;
}

h1 {
  margin: 0;
  font-size: 2rem;
}
h2 {
  margin: 0;
  font-size: 1.5rem;
}
h3 {
  margin: 0;
  font-size: 1.25rem;
}
h4 {
  margin: 0;
  font-size: 1rem;
}
h5 {
  margin: 0;
  font-size: 0.85rem;
}
h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}
/*-------------------------- Components --------------------------*/
/***Contact Form****/
.contact-form {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 800px;
}

.contact-form > * {
  margin: 1rem auto;
  padding: 0.5rem;
  display: block;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  font-size: 0.85rem;
  font-family: var(--second-font);
  resize: none;
}

.contact-form input {
  margin-left: 0;
  border: 0;
  border-bottom: solid thin var(--title-color);
}

.contact-form input[type="submit"] {
  margin-top: 0;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.contact-form input[type="submit"]:hover {
  opacity: 0.75;
}

.contact-form *::placeholder {
  color: var(--title-color);
}

.contact-form-response {
  padding: 1rem;
  width: 400px;
  text-align: center;
  background-color: white;
}

.modal#gracias:target {
  opacity: 1;
  pointer-events: auto;
}
@media screen and (min-width: 1024px) {
  .contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }
  .contact-form input,
  .contact-form textarea {
    font-size: 1rem;
  }
  .contact-form textarea,
  .contact-form-loader {
    grid-column: span 2;
  }
}
/***HeroImage**/
.hero-image {
  background-image: var(--hero-image-main);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: var(--attachment-main);
}

.hero-image-opacity {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--opacity-color-main);
}
.hero-image-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-image-content svg {
  margin-bottom: 2rem;
}

/**menu**/
.menu-btn {
  outline: thin solid var(--first-color);
  border: 0;
  cursor: pointer;
  background-color: var(--first-color);
}

.menu-btn svg > path {
  fill: var(--white-color);
}

.menu {
  position: fixed;
  left: 0;
  bottom: var(--header-heigth);
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu a {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--first-color);
}
.menu a:hover {
  color: var(--white-color);
  background-color: var(--first-color);
}

@media screen and (min-width: 1024px) {
  .menu-btn {
    display: none;
  }

  .menu {
    position: static;
    width: auto;
    flex-direction: row;
    opacity: 1;
    pointer-events: auto;
    background-color: transparent;
  }

  .menu a {
    padding: 0 1rem;
    color: white;
  }

  .menu a:last-child {
    padding-right: 0;
  }
  .menu a:hover {
    background-color: transparent;
  }
}

/***** Ventana Modal ******/
.modal {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--first-color-alpha);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s;
}

.modal-content {
  position: relative;
}
.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.modal-close svg {
  width: 2.5rem;
  height: 3rem;
}
.modal-close svg > path {
  fill: var(--first-color);
}
.modal[id|="member"]:target {
  opacity: 1;
  pointer-events: auto;
}

/*-------------------------- Site Styles --------------------------*/
.about > article {
  margin-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.contact-card {
  margin: 1rem auto;
  padding: 1rem;
  width: 100%;
  height: 144px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contact-card > small {
  margin-top: -1rem;
}
.footer {
  padding: 0.5rem;
  text-align: center;
  margin-bottom: 64px;
}
.header {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  width: 100%;
  padding: 1rem;
  height: var(--header-heigth);
  background-color: var(--first-color);
  transition: all 0.5s ease-out;
}
.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo svg {
  text-decoration: none;
}

.service-card {
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
}

.service-card > svg > path {
  fill: var(--first-color);
}
.service-card > svg {
  margin-bottom: 1.25rem;
}

.team-card {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.team-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.member-card-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: var(--first-color-alpha);
  color: var(--white-color);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.team-card:hover .member-card-info {
  opacity: 1;
  pointer-events: auto;
}

.member-card-info div {
  padding: 1rem;
  border: thin solid var(--white-color);
  width: 100%;
  height: 100%;
}

.member-modal {
  background-color: var(--white-color);
  padding: 1rem;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}
.member-modal h3 {
  border-bottom: medium solid var(--first-color-alpha);
  margin: 0.5rem auto;
  padding: 0.5rem 0;
}
@media screen and (min-width: 748px) {
  .contact-cards {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    justify-content: space-between;
  }

  .footer {
    margin-bottom: 0;
  }
  .header {
    position: sticky;
    top: 0;
    padding: 0.5rem;
    height: auto;
  }

  .member-modal {
    flex-direction: row;
    max-width: 800px;
  }

  .member-info {
    margin-left: 1rem;
    align-self: center;
  }
  .team .container {
    display: grid;
    grid-template-columns: repeat(3, 33%);
  }

  .team .section-title {
    grid-column: span 3;
  }
}

@media screen and (min-width: 1080px) {
  .about {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-between;
    align-content: center;
  }

  .contact-cards {
    grid-template-columns: repeat(4, 24%);
  }
  .full-screen {
    width: 100%;
    min-height: 100vh;
  }
  .header {
    position: sticky;
    top: 0;
    padding: 0.5rem;
    height: auto;
  }
  .service > .container {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-evenly;
    align-content: center;
  }
  .service .section-title {
    grid-column: span 3;
  }
}
/*-------------------------- Utilities --------------------------*/
.bg-grey-light {
  background-color: #ccc9c9fa;
}
.bg-transparent {
  background-color: transparent;
  outline: transparent;
}
.box-shadow-1 {
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.25);
}

.btn {
  border-radius: 0.5rem;
  padding: 1rem;
  display: inline-block;
  width: 10rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: var(--first-color);
  color: var(--white-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

.none {
  display: none;
}

.section {
  padding: 2rem 1rem;
}

.section-title {
  border-top: solid thin var(--first-color);
  border-bottom: solid thin var(--first-color);
  width: 250px;
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  text-align: center;
  color: var(--title-color);
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

@media screen and (min-width: 1024px) {
  .text-lg-left {
    text-align: left;
  }
  .text-lg-center {
    text-align: center;
  }
  .text-lg-right {
    text-align: right;
  }
}
